
body {
    font-family: Arial, sans-serif;
    background-color: rgb(116, 149, 125);
    background-image: url(map-image.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
}
.form-container {
    background-color: #e4e4e4ee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(203, 203, 203, 0.1);
    width: 100%;
    max-width: 400px;
}
.form-group {
    margin-bottom: 15px;
}
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    width: 100%;
    background-color:rgb(116, 149, 125);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    text-align: center;
}
p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input:hover,select:hover{
    top: -2px;
    cursor: pointer;
    border: 2px outset rgb(83, 177, 83);
    box-shadow: 3px 3px 4px 4px green ;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.6;
  }
  